*{
    margin: 0;
    padding: 0;
}
body{
   
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:200px;
    height: 100px;
    background-color: aqua;
    margin-top: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card:hover{
    background-color: violet;
}